*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

.navigate{
    background-color: maroon;
    position: absolute;
    width: 100%;
    padding: 15px 0;
    color: cornsilk;
}
.navigate .inner-bar .logo a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 500;
    font-size: 35px;
    color: white;
}
.navigate .inner-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: auto;
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.navigate .menu li{
    list-style: none;
    display: inline-block;
}
.navigate .menu li a{
    color: mintcream;
    font-size: 20px;
    font-weight: 500;
    margin-left: 25px;
}
.navigate .menu li a:hover{ 
    color: gold;
}
.navigate .menu li a:active{ 
    text-decoration: underline;
}

#homepage-text, .text-content{
    padding-top: 100px;
    position: flex;
    height: 100vh;
    min-height: 500px;
    margin: auto 0 auto 40px;
    color: black;
    display: flexbox;
}

.aboutme-image{
    width: 25px;
    height: 25px;
    display: inline-block;
}
.project-image{
    width: 100px;
    height: 100px;
    display: inline-block;
}

.projects_name{
    color:black;
    size: 20px;
}